@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/HomePage.css">

<main role="main" class="container" style="margin-top: 130px;">
    <div class="welcome-message">
        <h1><strong>Welcome, @User.Identity.Name!</strong></h1>
        <p style="font-size:20px">Explore the features below to get started with your fitness journey.</p>
    </div> <br/>
    <div class="row">
        <div class="col-md-4 content-block">
            <img src="https://assets-global.website-files.com/63695e3c58fff2340c868780/6378b4d64ada241dd5924154_615ecb2b41055ad183557715_Challenge-min.jpeg" class="img-fluid" alt="Challenges">
            <div class="content-details">
                <h2><strong>Challenges</strong></h2>
                <p style="margin-bottom:55px">Participate in various fitness challenges to stay motivated and achieve your goals.</p>
                <div class="btn-group">
                    <a class="btn btn-secondary" href="CreateChallenges" role="button" style="width:180px ; margin-left:-40px">Create Challenge &raquo;</a>
                    <a class="btn btn-primary" href="/ListChallenges" role="button" style="width:180px; margin-left:25px">View Challenges &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 content-block">
            <img src="https://i.fbcd.co/products/original/cb7e51babba3596dbdf8d170e84cc4876369324e4913a61b7e7ba9f964cdb6a4.jpg" class="img-fluid" alt="Leader Board">
            <div class="content-details">
                <h2><strong>Leader Board</strong></h2>
                <p style="margin-bottom:25px">Check out the top performers and compete to see your name on the leader board.</p>
                <a class="btn btn-secondary" href="/ViewLeaderBoard" role="button">View Leader Board &raquo;</a>
            </div>
        </div>
        <div class="col-md-4 content-block">
            <img src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg?size=338&ext=jpg&ga=GA1.1.2082370165.1716422400&semt=ais_user" class="img-fluid" alt="Profile">
            <div class="content-details">
                <h2><strong>Profile</strong></h2>
                <p style="margin-bottom:55px">View and update your profile to track your fitness progress and achievements.</p>
                <a class="btn btn-secondary" href="/Profile" role="button">View Profile &raquo;</a>
            </div>
        </div>
    </div>
</main>
