.center{
    margin-top:225px ; 
    margin-left: 37.5%;
}

.em{
    font-style: normal;
    color: #ed563b;
    font-weight: 900;
}

.em a {
    color: white; /* "in" kelimesinin rengi beyaz */
 
}

.loginForm{

    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(27, 35, 44, 0.564);
    min-width: 300px;
    max-width: 500px;
}

.loginButton {
    font-size: 15px;
    background-color: #038722aa;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 1000;
    border-radius: 15px;
    line-height: 1.5;
    width: 100%;
    height: 50px;
    border: #fff;
    margin-bottom: 30px;
}

.loginButton:hover {
    background-color: #05bb2faa;
}
