@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

html,
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #fff;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none !important;
}
/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
.main-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 40px;
    background-color: #038722aa;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    transition: all .3s;
    border-radius: 15px;
    line-height: 1.5;
    margin-top: -7px;
}

.main-button a:hover {
    background-color: #05bb2faa;
}

.secondary-button a {
    display: inline-block;
    font-size: 15px;
    padding: 12px 25px;
    background-color: #ed563b;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    transition: all .3s;
    border-radius: 15px;
    line-height: 1.5;
    margin-left: 30px;
    margin-right: 80px;
    margin-top: -7px;
}

.secondary-button a:hover {
    background-color:  #e72f0e;
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background: rgba(250, 250, 250, 0.1);
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
}

.header-area .main-nav {
    min-height: 80px;
    background: transparent;
}

.header-area .main-nav .logo {
    line-height: 80px;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo em {
    font-style: normal;
    color: #ed563b;
    font-weight: 900;
}

.header-area .main-nav .nav {
    float: right;
    margin-top: 27px;
    margin-right: 0px;
    background-color: transparent;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
}


/* 
---------------------------------------------
banner
--------------------------------------------- 
*/

.main-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* Sayfanın tamamını kaplamak için yüksekliği ayarlıyoruz */
    background-color: black;
    /* Siyah arka plan */
    color: white;
    /* Beyaz yazı rengi */
    text-align: center;
    /* Ortalanmış yazılar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-overlay {
    position: absolute;
    background-color: rgba(35, 45, 57, 0.8);
    top: 0;
    left: 0;
    bottom: 7px;
    width: 100%;
}

.main-banner .caption {
    text-align: center;
    position: relative;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.main-banner .caption h6 {
    margin-top: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 0.5px;
}

.main-banner .caption h2 {
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 84px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    letter-spacing: 1px;
}

.main-banner .caption h2 em {
    font-style: normal;
    color: #ed563b;
    font-weight: 900;
}
/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
.footer1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 40px;
    background-color: rgba(250, 250, 250, 0.06);
    border: none; 
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
  }