@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link rel="stylesheet" href="~/css/LoginPage.css">

<div class="row center loginForm">
    <div>
        <section>
            <form id="account" method="post">
                <h1 class="em">Log<a class="a">in</a></h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" asp-for="Input.Password" class="form-control" autocomplete="current-password"
                        aria-required="true" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    <label class="form-check-label" asp-for="Input.RememberMe">Remember me</label>
                </div>
                <div></br>
                    <button id="login-submit" type="submit" class="loginButton">Log in</button>
                </div>
                <div>
                    <p>
                        <a class="text-white" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a class="text-white" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
